{{define "gestion"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>Gestion</title>
</head>
<body>
    <form action="/changeLogin" method="post">
        <label for="oldpassword">Actual Password:</label><br>
        <input type="password" id="oldpassword" name="oldpassword" required><br><br>
        <label for="newpassword">New password:</label><br>
        <input type="password" id="newpassword" name="newpassword" required><br><br>
        <input type="submit" value="changeLogin">
      </form>
</body>
</html>
{{end}}