{{define "index"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/fav.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Hangman Game</title>
</head>
<body>
 <!-- Left side background image -->
 <div class="left-background"></div>
    
 <!-- Right side background image -->
 <div class="right-background"></div>
 
    <h1>Hangman Game</h1>
    <div class="imblind">
        <div class="haut">
            <div class="div1">
                <p>Player: {{.PlayerName}}</p>
            </div>
            <div class="div2">
                <p>Difficulty: {{.Difficulty}}</p>
            </div>
            <div class="div3">
                <p>Score: {{.Score}}</p>
            </div>
        </div>
</div>
    <p>Nombre dessai restant : {{.TriesLeft}}</p>
    <img src="/static/hangman_{{.IncorrectGuessCount}}.png" alt="{{.IncorrectGuessCount}} Incorrect Guess">
    <p>Word to find: {{ join .CurrentState " " }}</p>
    <p>Incorrect Guesses: {{join .IncorrectGuesses ", "}}</p>
    <form action="/guess" method="post">
        <label for="guess">Guess a letter:</label>
        <input type="text" id="guess" name="guess" maxlength="25" required>
        <button type="submit" class="transitionButton">Submit</button>
    </form>
    <div class="invalid">
    <p>{{.Invalidguess}}</p>
    </div>
</body>
</html>
{{end}}