{{define "lost"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20% auto;
        }

        h1 {
            color: red;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body> 
    <h1>Game Over</h1>
    <img src="/static/hangman_8.png" alt="8 Incorrect Guesses">
    <p>The word to guess was {{.WordToGuess}}</p>
    <p>Sorry, you've reached the maximum number of incorrect guesses. Better luck next time!</p>
    <form action="/restart" method="post">
        <button type="submit">Restart Game</button>
    </form>
</div>
</body>

</html>
{{end}}