{{define "lost"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Game Over</title>
</head>
<body> 
    <h1>Game Over</h1>
    <img src="/static/hangman_8.png" alt="8 Incorrect Guesses">
    <p>The word to guess was {{.WordToGuess}}</p>
    <p>Sorry, you've reached the maximum number of incorrect guesses. Better luck next time!</p>
    <form action="/restart" method="post">
        <button type="submit" class="transitionButton">Restart Game</button>
    </form>
</div>
</body>
</html>
{{end}}