{{define "lost"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/statics/fav.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Game Over</title>
</head>
<body> 
    <h1>Game Over</h1>
    
    {{if eq .Difficulty "Dictionnaire"}}
        <img src="/static/gotcha-bitch.gif" alt="Dictionnaire Image">
        <div class="imblind">
        <p>The word to guess was {{.WordToGuess}}</p>
        <p>Could have done better!</p>
        </div>
    {{else if eq .Difficulty "Facile"}}
        <img src="/static/noob-risitas.gif" alt="Facile Image">
        <div class="imblind">
        <p>The word to guess was {{.WordToGuess}}</p>
        <p>Sorry nooby. Better luck next time!</p>
        </div>
    {{else if eq .Difficulty "Moyen"}}
        <img src="/static/STOOBID.gif" alt="Moyen Image">
        <div class="imblind">
        <p>The word to guess was {{.WordToGuess}}</p>
        <p>Even Steven He say it!</p>
        </div>
    {{else if eq .Difficulty "Difficile"}}
        <img src="/static/failure.gif" alt="Difficile Image">
        <div class="imblind">
        <p>The word to guess was {{.WordToGuess}}</p>
        <p>You disapointed Steve's dad!</p>
        </div>
    {{else if eq .Difficulty "Christmas"}}
        <img src="/static/sighs-in-christmas-sigh.gif" alt="Halloween Image">
        <div class="imblind">
        <p>The word to guess was {{.WordToGuess}}</p>
        <p>Mariah Carey think you could have done better.</p>
        </div>
    {{end}}
    
    <form action="/restart" method="post">
        <button type="submit" class="transitionButton">Restart Game</button>
    </form>
</div>
</body>
</html>
{{end}}