{{define "scoreboard"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Congratulations!</title>
</head>
<body class="element">
    <div class="container">
        <div class="score">
            <h1>Congratulations, {{.PlayerName}}!</h1>
            <p>Your best score was : {{.BestScore}}</p>
            <p>Your total score is : {{.TotalScore}}</p>
            <form action="/dashboard" method="post">
                <button type="submit">Back</button>
         </form>
        </div>
    </div>
</body>
</html>
{{end}}