{{define "start"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JS/script.js"></script>
    <title>Hangman Game - Start</title>
</head>
<body class="GFgif">
    <h1>Hangman Game</h1>
    <form action="/start" method="post">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" value="{{.Name}}" required>
        <br>
        <label for="language">Select language:</label>
        <select id="language" name="language">
            <option value="Fr">Français</option>
            <option value="En">English</option>
        </select>
        <label for="difficulty">Select difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="Dictionnaire">Dictionnaire</option>
            <option value="Facile">Facile</option>
            <option value="Moyen">Moyen</option>
            <option value="Difficile">Difficile</option>
            <option value="Christmas">Christmas</option> 
        </select>
        <br>
        <button type="submit" class="transitionButton">Start Game</button>
    </form>
        <form action="/logout" method="post">
        <button type="submit">Leave</button>
    </form>
</body>
</html>
{{end}}