{{define "index"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>Hangman Game</title>
</head>
<body>
    <h1>Hangman Game</h1>
    <p>Player: {{.PlayerName}}</p><p>Difficulty: {{.Difficulty}}</p><p>Score: {{.Score}}</p><p>Nombre d'erreur: {{.IncorrectGuessCount}}</p>
    <img src="/static/hangman_{{.IncorrectGuessCount}}.png" alt="{{.IncorrectGuessCount}} Incorrect Guess">
    <p>Word to find: {{ join .CurrentState " " }}</p>
    <p>Incorrect Guesses: {{join .IncorrectGuesses ", "}}</p>
    <form action="/guess" method="post">
        <label for="guess">Guess a letter:</label>
        <input type="text" id="guess" name="guess" maxlength="25" required>
        <button type="submit">Submit</button>
    </form>
    <p>{{.Invalidguess}}</p>
</body>
</html>
{{end}}