/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Basic body styling */
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.element {
  background-image: url(/static/Hangman_logo.jpg); /* Replace 'path/to/your/image.jpg' with your image file path */
  background-repeat: no-repeat;
  background-size: cover;
  /* Optional: Set width and height for the element to make the background visible */
  height: 100%; /* Set width as needed */
}

.element2 {
  background-image: url(/static/6ab9e10c2e847b4c.webp); /* Replace 'path/to/your/image.jpg' with your image file path */
  background-repeat: no-repeat;
  background-size: cover;
  /* Optional: Set width and height for the element to make the background visible */
  height: 100%; /* Set width as needed */
}
.gif {
  background-image: url(/static/congratulations.gif); /* Replace 'path/to/your/image.jpg' with your image file path */
  background-repeat: no-repeat;
  background-size: cover;
  /* Optional: Set width and height for the element to make the background visible */
  height: 100%; /* Set width as needed */
}
.gif2 {
  background-image: url(/static/trolling-success.gif); /* Replace 'path/to/your/image.jpg' with your image file path */
  background-repeat: no-repeat;
  background-size: contain; /* Use 'contain' to fit the entire image within the container */
  background-position: center;
  height: 730px;
}

.gif2 button{
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
}



/* Styling for Hangman game title */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Player information styling */
p {
  margin-bottom: 10px;
  text-align: center;
}

/* Hangman image styling */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


/* Form styling */
form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

#password{
  padding: 5px;
}

select {
  padding: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 20px;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Error message styling */
.invalid p {
  color: red;
  font-style: italic;
  margin-top: 10px;
}

.haut {
  display: flex;
}

/* Adjusting for individual divs */
.div1, .div2, .div3 {
  flex: 1;
  text-align: center; /* Center-align content */
  margin-left: 5%;
  margin-right: 5%;
}

.imblind{
  font-size: 20px;
}

form button {
    margin-bottom: 5px;
}

h2, h3{
    text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
color: green;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.white{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.head button {
  padding: 12px 24px; /* Increase padding to make the button bigger */
  font-size: 18px; /* Increase font size for larger text */
  background-color: blue;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.end {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 35%; /* Position it from the left edge */
  transform: translateX(-50%); /* Center it horizontally */
}

.none {
  position: fixed;
  left: 20%; /* Position it from the left edge */
  transform: translateX(-50%); /* Center it horizontally */
}

.scrore {
  display: flex;
  flex-direction: column;
}

.password{
  background-image: url(/static/pim.webp); /* Replace 'path/to/your/image.jpg' with your image file path */
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
}

@media only screen and (max-width: 767px) {
  .element {
    background-image: url(/static/hangman-img0.jpg); /* Replace 'path/to/your/image.jpg' with your image file path */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .end {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Position it from the left edge */
    transform: translateX(-50%); /* Center it horizontally */
  }

}